@import "../../../../../../../.config/hybridOS/current/theme/walker.css";

* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", "monospace";
  font-size: 15px;  
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 18px; 
}

.large-icons {
  -gtk-icon-size: 28px;
}

.box-wrapper {
  background: alpha(@base, 0.9);
  padding: 12px;
  border: 1px solid @accent;
  border-radius: 12px;
}

.search-container {
  background: alpha(@surface, 0.5);
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid alpha(@accent, 0.2);
}

.input {
  color: @input_text;
}

.input placeholder {
  opacity: 0.4;
  color: @subtext;
}

.item-box {
  padding: 6px 10px;
  border-radius: 6px;
  margin: 2px 0;
  transition: background 0.2s ease;
}

.item-text-box {
  all: unset;
  padding: 4px 0; 
}

child:selected .item-box {
  background: alpha(@accent, 0.15);
}

child:selected .item-box * {
  color: @highlight;
  font-weight: bold;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.item-image {
  margin-right: 12px;
  -gtk-icon-transform: scale(0.9); 
}

.keybind-hints {
  background: alpha(@overlay, 0.8);
  padding: 8px;
  margin-top: 5px;
  border-radius: 0 0 8px 8px;
  font-size: 11px;
  color: #6c7086;
}

.current {
  font-style: italic;
  color: @warning;
}
