@import "../../.config/hybridOS/current/theme/waybar.css";

window#waybar {
    background: alpha(@waybar,0.5);
    border-radius: 15px;
    color: @text;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
}

#custom-arch,
#workspaces,
#network,
#clock,
#battery,
#custom-player,
#pulseaudio.microphone,
#custom-nightmode {
    background: alpha(@background, 0.1);
    margin: 4px 6px;
    padding: 2px 15px;
    border-radius: 50px; 
    border: 1px solid alpha(@background, 0.05);
}

/*Left Part*/
#custom-arch {
    color: @arch;
    font-size: 18px;
    padding-right: 20px;
}

#custom-player {
    color: @player;
    font-size: 12px;
}

#custom-player.paused {
    color: rgba(255, 255, 255, 0.4);
}

/*Middle Part*/
#workspaces {
    margin: 5px 8px;
    padding: 0px 10px;
}

#workspaces button {
    padding: 0 8px;
    color: alpha(@workspace, 0.15); 
    transition: all 0.3s ease;
}

#workspaces button.occupied {
    color: alpha(@workspace, 0.5);
}

#workspaces button.active {
    color: @workspace;
    background: transparent;
    font-size: 17px;
    text-shadow: 0 0 12px alpha(@workspace, 0.8);
}

/* Right Part*/
#pulseaudio.microphone {
    color: @microphone;
}

#custom-nightmode {
    color: @nightmode;
}

#network {
    color: @network;
}

#clock {
    color: @clock; 
    font-weight: bold;
}

#battery {
  color: @battery_color;
  font-weight: bold;
}

#battery.critical {
  color: @battery_color_critical;
  font-weight: bold;
}

#battery.charging {
  color: @battery_color;
  font-weight: bold;
}
